.form-control {
  margin-bottom: 1rem;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control label {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 20rem;
}

.form-control input:focus {
  outline: none;
  border-color: #240370;
  background-color: #e0d4fd;
}

.form-control.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.form-control.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
  font-size: 0.6rem;
}

.valid-text {
  color: rgb(68, 55, 146);
  font-size: 0.6rem;
}

.info-text {
  color: gray;
  font-size: 0.6rem;
}
